/* 
    Document   : base
    Created on : Apr 13, 2011, 10:32:11 AM
    Author     : bingomanatee
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

html {
    padding: 0em;
    background-color: rgb(102,0,25);
    font-family: Geneva, Arial, sans-serif;
    color: white;
}

a {
    color: rgb(100, 255, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 255);
}

content {
    float: left;
    width: 75%;
    padding-top: 0em;
    background-color: rgb(255, 204, 225);
    color: black;
}

content td, content th, content p {
    color: black;
}

content a {
    color: rgb(100, 25, 204);
}

navigation {
    color: rgb(200, 200, 200);
    float: left;
    width: 15%;
    background-color: rgba(255, 0, 255 ,0.25);
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    font-size: 80%;
    padding: 1em;
    margin-left: 1.5em;

}

navigation a {
    display: block;
    color: black;
}

navigation a:hover {
    color: rgb(0, 0, 200);
}

#message {
    background-color: rgba(0, 255, 255, 0.8);
    color: black;
    padding: 1em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 0.25em rgba(0, 100, 100, 0.25);
}

#err {
    background-color: rgba(255, 100, 0, 0.8);
    color: black;
    padding: 1em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 0.25em rgba(0, 100, 100, 0.25);
}

#main {
    background-color: rgba(255, 0, 255, 0.5);
    margin: 0.5em 0em;
    padding: 0.25em;
}

#section{
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0.25em;
    padding: 0.25em;
}

form h2 {
    color: rgb(225, 225, 225);
    margin: 0px;
}

form table {
    background-color: transparent;
}
form td,
form th,
td, th {
    text-align: left;
    vertical-align: middle;
    margin: 0px;
}

table.layout td,
table.layout th {
    vertical-align :top;
}

table.list th {
    font-weight: bold;
    color: white;
    font-size: 100%;
    padding: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

table.list td.button {
    background-color: rgb(255, 255, 102);
    font-weight: bold
}
table.list td.button:hover {
    background-color: rgb(255, 255, 0);
    font-weight: bold;
    text-decoration: underline;
}

table.list td {
    background-color: rgba(255, 255, 255,0.5);
    color: black;
    font-size: 100%;
    padding: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

table.list tr {
    margin: 1px;
}

table.list tr:odd td {
    background-color: yellow
}

table.list {
    background-color: rgba(0, 0, 0, 0.5);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    font-size: 75%;
}

h1, h2, h3, h4, h5 {
    font-family: Georgia, Bookman, Times New Roman, serif;
    font-weight: bold;
    color: rgba(50, 0, 100, 1);
    font-size: 250%;
    padding: 0.25em 0em;
    margin-bottom: 0.5em;
    text-shadow: 0em 0em 0.2em white;
}

h1 {
    text-align: center
}

h2, h3, h4, h5 {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-size: 180%;
    color: red;
    text-shadow: none;
}

h3, h4, h5 {
    font-size: 150%;
}

form {
    background-color: rgba(255, 0, 0, 0.25);
    margin: 0.5em;
    padding: 1em;

    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;

    width: 30em;
}

form table {
    width: 100%;
    border: none;
}

form label {
    display: block;
    padding: 0.25px;
    margin: 0.25em;
    color: black;
    margin-right: 1em;
    text-align: right;
}

form table th {
    width: 8em;
}

form input,
form textarea{
    background-color: white;
    border: 1px solid rgb(200, 200, 100);
    padding: 0.25em;
    margin: 0.25em;
    color: black;
    width: 100%;
    box-shadow: 0.5em 0.5em 0.25em rgba(0, 0, 100, 0.25);
}

form input.button {

    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border: none;
    font-weight: bold;
    color: rgb(0, 0, 100);
    width: auto;
    padding: 0.25em 0.5em;
    background-color: rgb(180, 180, 180);
}

input.radio,
input.checkbox {
    width: auto
}

table.acl {
    font-size: 80%;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
}

table.acl thead th {
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    text-align: center;
    background-color: black;
    color: rgb(200, 200, 200);
}

table.acl th,
table.acl td {
    color: rgb(50, 50, 50);
    width: 4em;
    text-align: center;
    vertical-align: middle;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    font-weight: bold;
    padding: 1px;
}
table.acl th {
    color: white;
    text-align: left;
}

table.acl td.yes {
    background-color: green;
}
table.acl td.no {
    background-color: red;
}
table.acl td.null {
    background-color: grey;
}

table.acl {
    background-color: black;
    -moz-border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
}


table.ticket th {
    font-weight: bold;
    color: black;
    font-size: 100%;
    padding: 0.5em;
    text-align: right;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

table.ticket td.button {
    background-color: rgb(255, 255, 102);
    font-weight: bold
}
table.ticket td.button:hover {
    background-color: rgb(255, 255, 0);
    font-weight: bold;
    text-decoration: underline;
}

table.ticket td {
    background-color: rgba(255, 255, 255,0.5);
    color: black;
    font-size: 100%;
    padding: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
}

table.ticket {
    background-color: rgba(225, 255, 200, 0.75);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    font-size: 75%;
    margin: 1em 0.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 2em;
}